.sidebar {
  margin-bottom: 30px;
}

/* PC */
@media (min-width: 1200px) {
  .sidebar {
    position: fixed;
    top: 80px;
    left: 10px;
    width: calc((100vw - 800px) / 2 - 30px);  /* 800px = .post-content */
    max-height: calc(100vh - 100px);  /* 100px = header + footer */
    overflow-y: auto;
  }
}

.copy-button {
  margin: 5px;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 3px;
  border: none;
  cursor: pointer;

  :hover {
    background-color: #005f99;
  }
}

/* codeblock for plaintext */
.language-plaintext > div > pre > code {
  white-space: pre-wrap;
  word-break: break-all;
}
